<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Release / Project Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
        }

        hr {
            border: 0;
            border-top: 1px solid #ccc;
            margin: 10px 0;
        }

        p {
            margin: 5px 0;
        }

        strong {
            color: #333;
        }

        small {
            font-size: 0.8em;
            color: #666;
        }
    </style>
</head>

<body>

    <p>
        <strong>{{ activity_type.name }}#{{ ticket_id }} : {{ customer.name }} | {{ activity_title }} - {{
            analyst_consultant.name }} [{{ activity_importance }}]</strong><br>
        {{ sysdate|date:"d-m-Y H:i:s" }} | Status: {{ current_state.name }}
    </p>

    <hr>

    <!-- TIME SPENT -->
    <p class="section-title">TIME SPENT:</p>
    <p>{{ time_spent|default:"N/A" }}</p>

    <!-- TARGET -->
    <p class="section-title">TARGET:</p>
    <p>{{ sysdate|date:"d-m-Y H:i:s" }} | {{ analyst_consultant.name }}</p>
    <p>{{ target|default:"N/A" }}</p>

    <!-- OBSERVATIONS -->
    <p class="section-title">OBSERVATIONS:</p>
    <p>{{ sysdate|date:"d-m-Y H:i:s" }} | {{ analyst_consultant.name }}</p>
    <p>{{ observations|default:"N/A" }}</p>

    <!-- development details -->
    <p class="section-title">DEVELOPMENT DETAILS :</p>
    <p>{{ sysdate|date:"d-m-Y H:i:s" }} | {{ analyst_consultant.name }}</p>
    <p>{{ development_details|default:"N/A" }}</p>

    <!-- details evidences -->
    <p class="section-title">DETAILS EVIDENCES:</p>
    <p>{{ sysdate|date:"d-m-Y H:i:s" }} | {{ analyst_consultant.name }}</p>
    <p>{{ details_evidences|default:"N/A" }}</p>

    <hr>

    <p>
        Cordiais Cumprimentos | Best Regards,<br>
        {{ analyst_consultant.name }}
    </p>
    <div style="margin-top: 20px; text-align: left;">
        <img src="http://127.0.0.1:8000/static/img/logo.jpeg" alt="Company Logo"
            style="max-width: 180px; height: auto;">
    </div>
    <small>
        <p><strong>Aviso de Confidencialidade:</strong> Este e-mail e quaisquer ficheiros informáticos com ele
            transmitidos são confidenciais e destinam-se ao conhecimento e uso exclusivo da pessoa ou entidade a quem
            são dirigidos.</p>
        <p><strong>Confidentiality Warning:</strong> This e-mail and any files transmitted with it are confidential and
            intended solely for the recipient.</p>
    </small>

</body>

</html>